/*Общие настройки*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #151611;
    --white: #fff;
    --btn-gray-color: rgba(255, 255, 255, 0.733);
}

.slider-for-scroll {
    overflow: hidden; /* Прячем элементы за границей */
    position: relative;
    touch-action: pan-x; /* Указываем, что свайп будет горизонтальным */
}

.slider {
    display: flex;
    transition: transform 0.3s ease-in-out; /* Плавность листания */
}


* {
    margin: 0;
    padding: 0;
}

/* Убираем обводку вокруг ссылок и кнопок */
a:focus, button:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent; /* Для мобильных устройств (например, Android) */
}


body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 3000px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;

    background: var(--primary-color);

    position: relative;

}




header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--primary-color);
    z-index: 100;
}

.logoAndBtns {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 20px 0;
}


.logoAndBtns > h1 {
    color: var(--white);
}



.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-pc {
    width: 100%;
    max-width: 1000px;
}

.nav-bar-pc > ul {
    margin: 10px 150px;
    list-style-type: none;
    padding-left: 0; /* Убирает отступ слева, если нужно */
    padding: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.nav-bar-pc > ul > li {
    text-decoration: none;
}

.nav-bar-pc > ul li > button {
    border: none;
    background: none;
    color: white;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    font-size: 0.8rem;
    margin-right: 1.1rem;
}
.nav-bar-pc > ul li a {
    text-decoration: none;
    display: inline-block;
    margin-right: 1.1rem;
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
    transition: all 0.3s ease-in-out;
}
.nav-bar-pc > ul li > button:hover,
.nav-bar-pc > ul li a:hover {
    color: var(--btn-gray-color);
    transform: translateY(-1px); /* Поднимаем текст на 2 пикселя при наведении */
}
.last-link {
    margin-right: 1rem;
}

.language-selector {
    position: relative;
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
    transition: all 0.5s ease-in-out;
}

.language-selector:hover {
    transform: translateY(-2px);
}

.selected-language {
    background-color: #ffffff;
    color: var(--primary-color);
    border: none;
    width: 40.5px;
    height: 40.5px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    z-index: 11;
    padding: auto auto;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.dark-mode .selected-language {
    background-color: var(--white);
    color: var(--primary-color);
}

.selected-language:hover {
    background-color: #ffffff;
    color: var(--primary-color);
}


.language-dropdown {
    position: absolute;
    top: 40%;
    font-size: 12px;
    color: var(--primary-color);
    left: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    z-index: 10;
}

.language-dropdown > :first-child {
    padding-top: 30px;
}

.language-dropdown li {
    padding: 7px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.language-dropdown li:hover {
    background-color: #f0f0f0;
}

.language-dropdown.hidden {
    max-height: 0;
    opacity: 0;
    max-width: 40.5px;
    min-width: 40.5px;
    pointer-events: none;
}

.language-dropdown.visible {
    max-height: 300px;
    max-width: 40.5px;
    min-width: 40.5px;
    opacity: 1;
    pointer-events: auto;
}





.btn-hamburger {
    background: #00000000;
    border: none;
    cursor: pointer;
    height: 40px;
    display: none;
    transition: all 0.5s ease-in-out;
}

.btns > a {
    width: 41px;
    height: 40px;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    background: var(--primary-color);
    color: #544;
    transition: all 0.5s ease-in-out;
}

.btns > a:hover {
    transform: translateY(-2px);
}

.nav-bar-phone {
    display: none;
}





.affiche {
    display: none;
}

.nav-button.btn-affiche {
    display: none;
}
.slider {
    display: none;
}








/*Для Скроллбара*/
.scrollable {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Скрыть скроллбар для Firefox */
    -ms-overflow-style: none; /* Скрыть скроллбар для IE и Edge */
}
.scrollable::-webkit-scrollbar {
    display: none; /* Скрыть скроллбар для Chrome, Safari и Opera */
}

/* Навигационные кнопки */
.drinks-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    position: relative;
}
.nav-button {
    position: absolute;
    top: 138px; /* Отступ от верхнего края контейнера */
    color: var(--btn-gray-color);
    border: none;
    width: 40px;
    height: 40px;
    background-color: #ffffff00;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    transition: opacity 0.3s ease;
}
.nav-button.left {
    left: -10px; /* Расположение кнопки слева от контейнера */
}
.nav-button.right {
    right: -10px; /* Расположение кнопки справа от контейнера */
}


.nav-button[style*="display: none"] {
    opacity: 0;
    pointer-events: none;
}




/*Стили для карточек и секции*/
section {
    padding-top: 120px;
}

.section > h3 {
    margin: 30px 0;
    font-size: 24px;
    color: var(--white);
    font-weight: 700;
}   

.drinks-container {
    width: 1200px;
}

.horisontal-panel {
    display: flex;
    justify-content: space-between;
    
}

.scrollable {
    padding: 5px 0;
}

.card {
    transition: all 0.5s ease;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-width: 216px;
    height: 288px;
    border-radius: 15px;
    background: linear-gradient(to bottom, #ffffff05, #8181810b);
    margin-right: 5px;
    transition: all 0.5s ease-in-out;
}

.card:hover {
    transform: translateY(-2px);
}

.card.active {
    height: auto;
}

.card > .cardPhoto {
    width: 200px;
    height: 230px;
    margin-top: 8px;
    border-radius: 10px;
    background-color: #fff;
}

.card > .text {
    width: 200px;
    font-size: 18px;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 12px;
}

.card > .text > .name {
    font-weight: 500;
}

.card > .text > .price {
    font-weight: 300;
}

.card > .text-wrapper > .textDesc {
    margin-left: 3px;
    margin-bottom: 6px;
    font-size: 13px;
    color: #FFF;
    width: 200px;

    /* Начальные стили для скрытого состояния */
    opacity: 0;
    transition: all 0.5s ease;
    position: absolute; /* Расположим текст поверх карточки */
    left: 0;
}

.card.active >  .text-wrapper > .textDesc {
    /* Стили для активного состояния */
    opacity: 1;
    transform: translateY(0); /* Возвращаем текст в исходное положение */
    position: static; /* Отменяем абсолютное позиционирование */
}

.text-wrapper {
    position: relative;
    overflow: hidden; /* Скрываем контент, если текст анимирован */
}

.card.active >  .text-wrapper > .textDesc {
    opacity: 1;
    transition: all 0.5s ease;
}












.h4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 3rem 0;
}

.h4 h4 {
    color: white;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
}